<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Set Event Trigger Timer in 24 hours format  -->
    <!--Configure Window Service Daily  -->
    <!-- Example : for 10:00 PM value="22"  -->
    <add key="DailyEventTriggerTime" value="07:25" />
    <!--Configure Window Service  Weekly  -->
    <!-- Example : for 10:00 PM value="22"  -->
    <add key="Weekly" value="false" />
    <add key="DayOfWeek" value="Tuesday" />
    <add key="WeeklyeventTriggerTime" value="10" />
  </appSettings>
</configuration>